%h2 Datenbank ab Sicherungsdatei wiederherstellen
%p Achtung! Damit werden alle Daten in ihrer jetzigen Datenbank gelöscht. Vergewissern Sie sich, dass
%ul 
  %li Niemand ausser Ihnen auf der Datenbank arbeitet
  %li Nirgends ein Elexis-Programm am laufen ist.
  %li Die unten ausgewählte Datei die richtige ist sind.
%br/
%h2 
  Pfad der Backup-Datei selber auswählen
  %form(method="post" enctype='multipart/form-data')   
    %input(type='file' name='dumpFile')    
    %br
    %input(type='submit' value='Backup einlesen')
%br/
- bkpInfo = getBackupInfo; 
- unless bkpInfo and bkpInfo[:backups] 
  %h3 Keine Backups gefunden. Irgendwas lief schief
  = bkpInfo.inspect 
- else
  %h2 Oder die gewünschte Sicherungskopie auswählen:
  %br/
  - bkpInfo[:backups].sort.reverse.each do | f| 
    - mTime = File.mtime(f)
    - human = distance_of_time_in_words_to_now(mTime)
    %li 
      = "Backup vom #{mTime}. Länge #{File.size(f)} bytes"
      %form{:action=>"/runLoadDatabase", :method=>"post"} 
        %h3{:align => 'center'}
          Backup von vor #{human} einlesen
          %input{:type => "submit", :value => "#{f}", :name=>'dumpFile'}
      %br/
      